<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">
          <h4 class=" card-title">Listagem </h4>
          <p class=" category">Ordenadas por data de Cadastro</p>
<!-- Button trigger modal -->
          <span class="badge badge-pill badge-primary"
                [ngbTooltip]="tipContent"
                type="button"
                [routerLink]="['/novopaciente']"
                 >Cadastrar Pacientes
          <ng-template #tipContent>Cadastrar Paciente, </ng-template>
          <button class="button-dropdown btn-link"
                  type="button"
                  data-toggle="modal"
                  data-target="#clienteModal">
            <i class="tim-icons icon-check-2"> </i>
            <i class="tim-icons icon-simple-add"> </i>
          </button>
          </span>
<!-- Button trigger modal -->
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <form class="table-wrapper-scroll-y">
              <div *ngIf='showSpinner' class="spinner-grow text-danger" role="status">
                <span class="sr-only"></span>
              </div>
              <div *ngIf='showSpinner' class="spinner-grow text-primary" role="status">
                <span class="sr-only"></span>
              </div>
              <div *ngIf='showSpinner' class="spinner-grow text-secondary" role="status">
                <span class="sr-only"></span>
              </div>
              <div *ngIf='showSpinner' class="spinner-grow text-success" role="status">
                <span class="sr-only"></span>
              </div>
              <div *ngIf='showSpinner' class="spinner-grow text-danger" role="status">
                <span class="sr-only"></span>
              </div>
              <div *ngIf='showSpinner' class="spinner-grow text-warning" role="status">
                <span class="sr-only"></span>
              </div>
              <div *ngIf='showSpinner' class="spinner-grow text-info" role="status">
                <span class="sr-only"></span>
              </div>
              <div *ngIf='showSpinner' class="spinner-grow text-light" role="status">
                <span class="sr-only"></span>
              </div>
              <div *ngIf='showSpinner' class="spinner-grow text-dark" role="status">
                <span class="sr-only"></span>
              </div>
              <table class="table table-hover" id="paciente">
                <thead class=" text-primary">
                <tr>
                  <th>Status</th>
                  <th>QRCode</th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Telefone</th>
                  <th>E-mail</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let paciente of paciente$ | async" [ngbTooltip]="tipContent"
                    data-toggle="modal"
                    ata-target="#clienteModal">

                  <ng-template #tipContent>
                    | {{ paciente.nome }}
                    | {{ paciente.cpf }}
                    | {{ paciente.telefone }}
                    | {{ paciente.email }}
                    | {{ paciente.endereco }}

                  <span class="badge badge-danger" *ngIf="paciente.status == 'Inativo'">
                           {{ paciente.status }} | {{ paciente.id }}
                  </span>
                  <span class="badge badge-info" *ngIf="paciente.status == 'Ativo'">
                           {{ paciente.status }} | {{ paciente.id }}
                  </span>

                   <span class="badge badge-info">
<!--qrcod-->
                   <qrcode [qrdata]="paciente.id" [size]="512" [level]="'M'">
                   </qrcode>
<!--qrcod-->
                  </span>

                  </ng-template>

                  <span class="badge badge-danger" *ngIf="paciente.status == 'Inativo'">
                           {{ paciente.status }}
                  </span>
                  <span class="badge badge-info" *ngIf="paciente.status == 'Ativo'">
                           {{ paciente.status }}
                  </span>

                  <td>
                   <span (click)="changeWidth(10)" class="badge badge-danger">+1</span>
                   <span (click)="changeWidth(128)" class="badge badge-danger">+2</span>
                   <span (click)="changeWidth(256)" class="badge badge-danger">+3</span>
                   <span (click)="changeWidth(512)" class="badge badge-danger">+4</span>

<!--qrcod-->
                    <div class="qrcodeImage"
                         (dblclick)="changeWidth(10)"
                         (click)="changeWidth(512)">
                      <qrcode
                        [elementType]="elementType"
                        [level]="level"
                        [qrdata]="paciente.id"
                        [scale]="scale"
                        [width]="width"
                      ></qrcode>
                    </div>
<!--qrcod-->
                  </td>

                  <td>{{ paciente.nome }}</td>
                  <td>{{ paciente.cpf }}</td>
                  <td>{{ paciente.telefone }}</td>
                  <td>{{ paciente.email }}</td>
                  <td>
<!-- Button trigger modal -->
                    <button class=" btn btn-link"
                            type="button"
                            placement="left"
                            ngbTooltip="Editar Registro"
                            container="body"
                            data-toggle="modal"
                            data-target="#pacienteModal">
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
<!-- Button trigger modal -->
<!-- Button trigger modal -->
                    <button class=" btn btn-link"
                            type="button"
                            placement="left"
                            ngbTooltip="Desativar Registro"
                            container="body"
                            data-toggle="modal"
                            data-target="#pacienteModal">
                      <i class=" tim-icons
icon-trash-simple"> </i>
                    </button>
<!-- Button trigger modal -->
<!-- Button Mapa trigger modal -->
                    <button class=" btn btn-link"
                            type="button"
                            placement="left"
                            ngbTooltip="Localizacao Paciente"
                            container="body"
                            data-toggle="modal"
                            data-target="#mapaModal">
                      <i class="tim-icons icon-square-pin"> </i>
                    </button>
<!-- Button Mapa trigger modal -->
                  </td>

                </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade"
     id="pacienteModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
