<div class=" content">
<div class="row">

  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://www.latercera.com/resizer/UWvQcqUziwwVCJ7G3vRlBAuX24A=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/QVW2MVBAJNHCFPZOYEENYI7ETM.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">COVID - 19</h5>
        <p class="card-text">Toraxia é a solução tecnológica que reduz em 50% os erros de leitura nas radiografias de tórax, ajudando na assistência médica durante a pandemia. </p>
        <a [routerLink]="['/covid19']" class="btn btn-primary">Entrar - COVID - 19</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="https://www.vozpopuli.com/2018/05/02/branded/mamografia-eleva-lucha-cancer-dimension_1132096809_11413131_1020x574.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Câncer de Mama</h5>
        <p class="card-text">Toraxia é a solução tecnológica que reduz em 50% os erros de leitura nas radiografias de tórax, ajudando na assistência médica durante a pandemia.</p>
        <a [routerLink]="['/covid19']"  class="btn btn-primary">Entrar - Câncer de Mama</a>
      </div>
    </div>
  </div>

 </div>
<!--
 <div class="row">

  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

 </div>

 <div class="row">

  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

 </div>

 <div class="row">

  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

 </div>

 <div class="row">

  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

 </div>-->


</div>
